<center>
    <h1>Whoops</h1>
    <h3>Deze pagina bestaat nog niet!</h3>
    <a href="/"><p>Terug naar Projecten</p></a>
    <a href="/legomasters/"><p>Terug naar LegoMasters</p></a>
</center>
<%- include("footer.ejs") -%>