<header>
    <img alt="Legomasters logo" src="https://www.nineforbrands.com.au/wp-content/uploads/2021/01/LEMA_3D_Logotype.png" height="75px"/>
    <li>
        <ul><a href="/">Ordenen minifigures</a></ul>
        <ul><a href="/">Overzicht minifigures</a></ul>
        <ul><a href="/">Terug naar projecten</a></ul>
    </li>
</header>