<head>
    <link rel="stylesheet" href="/public/assets/style.css">
</head>
<header>
    <ul class="menu">
        <li><img alt="Legomasters logo"
                src="https://www.nineforbrands.com.au/wp-content/uploads/2021/01/LEMA_3D_Logotype.png" height="75px" />
        </li>
        <li><a href="/">Ordenen minifigures</a></li>
        <li><a href="/">Overzicht minifigures</a></li>
        <li><a href="/projecten">Terug naar projecten</a></li>
    </ul>
</header>