<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body class="gray-background">
    <div class="link-container">
        <a class="link-img" href="/404">Project NBB</a>
        <a class="link-img" href="/404">The One</a>
        <a class="link-img" href="/404">FIFA</a>
        <a class="link-img" href="/404">Fortnite</a>
        <a id="lego" class="link-img" href="/legomasters">Legomasters</a>
        <a class="link-img" href="/404">MagicTheGathering</a>
    </div>
<%- include("footer.ejs") -%>