<header><a href="/">Terug naar projecten</a></header>

<h1>References</h1>
<p>Op deze pagina kan u alle links terugvinden van externe sites die we hebben gebruikt voor dit project.</p>

<h2>Afbeeldingen</h2>
<div>
    <ul>
        <li>Afbeelding logo LegoMasters in header: <a href="https://www.nineforbrands.com.au/wp-content/uploads/2021/01/LEMA_3D_Logotype.png">https://www.nineforbrands.com.au/wp-content/uploads/2021/01/LEMA_3D_Logotype.png</a></li>
        <li>Afbeelding lego minifigure in overzicht minifig: <a href="https://cdn.rebrickable.com/media/thumbs/sets/fig-000537/75532.jpg/800x800p.jpg?1640694285.5145605">https://cdn.rebrickable.com/media/thumbs/sets/fig-000537/75532.jpg/800x800p.jpg?1640694285.5145605</a></li>
        <li>Afbeelding lego headware in overzicht minifig: <a href="https://cdn.rebrickable.com/media/thumbs/parts/elements/6144372.jpg/250x250p.jpg?1642866637.8878014">https://cdn.rebrickable.com/media/thumbs/parts/elements/6144372.jpg/250x250p.jpg?1642866637.8878014</a></li>
        <li>Afbeelding lego head in overzicht minifig: <a href="https://cdn.rebrickable.com/media/thumbs/parts/elements/6144375.jpg/250x250p.jpg?1642797540.0047257">https://cdn.rebrickable.com/media/thumbs/parts/elements/6144375.jpg/250x250p.jpg?1642797540.0047257</a></li>
        <li>Afbeelding lego body in overzicht minifig: <a href="https://cdn.rebrickable.com/media/thumbs/parts/elements/6144377.jpg/250x250p.jpg?1643709918.2139933">https://cdn.rebrickable.com/media/thumbs/parts/elements/6144377.jpg/250x250p.jpg?1643709918.2139933</a></li>
        <li>Afbeelding lego legs in overzicht minifig: <a href="https://cdn.rebrickable.com/media/thumbs/parts/elements/6144394.jpg/250x250p.jpg?1643708322.5589442">https://cdn.rebrickable.com/media/thumbs/parts/elements/6144394.jpg/250x250p.jpg?1643708322.5589442</a></li>
        <ul>Afbeelding banner landinpage: <a href="https://jaysbrickblog.com/wp-content/uploads/2015/01/LEGO-Series-13-Minifigures-Characters.png">https://jaysbrickblog.com/wp-content/uploads/2015/01/LEGO-Series-13-Minifigures-Characters.png</a></ul>
        <ul>Afbeelding editing pen in blacklist pagina: <a href="https://www.iconfinder.com/icons/1814074/draw_edit_pencile_write_icon">https://www.iconfinder.com/icons/1814074/draw_edit_pencile_write_icon</a></ul>
    </li>
</div>

<%- include("footer.ejs") -%> 