<header><a href="/">Terug naar projecten</a></header>

<h1>References</h1>
<p>Op deze pagina kan u alle links terugvinden van externe sites die we hebben gebruikt voor dit project.</p>

<h2>Afbeeldingen</h2>
<div>
    <li>
        <ul>Afbeelding logo LegoMasters in header: <a href="https://www.nineforbrands.com.au/wp-content/uploads/2021/01/LEMA_3D_Logotype.png">https://www.nineforbrands.com.au/wp-content/uploads/2021/01/LEMA_3D_Logotype.png</a></ul>
    </li>
</div>

<%- include("footer.ejs") -%> 