.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
}


.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.summary, .summary th, .summary td{
  border: 1px solid
}

.summary img{
  max-width: 200px;
  height: 200px;
  padding: 5%;
}