<%- include("../../header.ejs") -%>

<form action="/legomasters/sort/start" method="post">
    <label for="minifig">Hoeveel minifigs wil je ordenen?</label>
    <select name="minifigAantal">
       <% for( let i = 0; i < limit; i++ ) { %>
       <option value="<%= i+1 %>"><%= i+1 %></option>
       <% } %> 
    </select>
    <button type="submit">Verzenden</button>
</form>

<%- include("../../footer.ejs") -%>