<%- include("../../header.ejs") -%>

<div>
    <label for="minifig">Hoeveel minifigs wil je ordenen?</label>
    <select name="minifig" id="minifig">
       <% for( let i = 1; i <= 15; i++ ) { %>
       <option value="<%= i %>"><%= i %></option>
       <% } %> 
    </select>
    <button type="button">Start</button>
</div>

<% include("../../footer.ejs") %>