<%- include("../../header.ejs") -%>
    <center>
        <div>
            <img alt="fotoMinifig"
                src="https://www.seekpng.com/png/detail/89-896910_lego-minifigures-video-game-guy.png" height="200px" />
            <p>Naam fig</p>
            <div class="btn-group">
                <button id="btn-skip">Skip</button>
                <button id="btn-blacklist">Blacklist</button>
            </div>
        </div>
        <div>
            <h3>Beschikbare Sets</h3>
            <div>
                <form action="" method="GET">
                    <input type="radio" name="choiceSet" value="add"> Add
                    <div>
                        <img alt="fotoSet" src="" height="200px" />
                        <p>Naam set</p>
                    </div><br>
                    <input type="radio" name="choiceSet" value="add"> Add
                    <div>
                        <img alt="fotoSet" src="" height="200px" />
                        <p>Naam set</p>
                    </div><br>
                    <input type="radio" name="choiceSet" value="add"> Add
                    <div>
                        <img alt="fotoSet" src="" height="200px" />
                        <p>Naam set</p>
                    </div><br>
                </form>
            </div>

        </div>
    </center>
    <%- include("../../footer.ejs") -%>