<%- include("../../header.ejs") -%>
<center>
    <h1>Resultaat</h1>
    <div>
        <p>Gedaan <br>
        <%=minifigsAdded%></p>
        <p>Geskipped <br>
        <%=minifigsSkipped%></p>
    </div>
    <div>
        <a href="/legomasters/sort/"><button>Opnieuw</button></a>
        <a href="/legomasters/summary"><button>Sets</button></a>
        <a href="/legomasters/"><button>Menu</button></a>
    </div>
</center>
<%- include("../../footer.ejs") -%>