<%- include("../../header.ejs") -%>
<center>
    <div class="center-div>">
        <h1>Resultaat</h1>
        <div>
            <p>Gedaan <br>
            <%=minifigsAdded%></p>
            <p>Geskipped <br>
            <%=minifigsSkipped%></p>
        </div>
        <div>
            <a href="/legomasters/sorteren/"><button>Opnieuw</button></a>
            <a href="/legomasters/overzicht"><button>Sets</button></a>
            <a href="/legomasters/"><button>Menu</button></a>
        </div>
    </div>
</center>
<%- include("../../footer.ejs") -%>