<%- include("../../header.ejs") -%>
<center>
    <h1>Resultaat</h1>
    <div id= "result">
        <p id="gedaan">Gedaan <br>
        <%=minifigsAdded%></p>
        <p id="geskipped">Geskipped <br>
        <%=minifigsSkipped%></p>
    </div>
    <div class="btn-group">
        <button id="btn-opnieuw">Opnieuw</button>
        <button id="btn-sets">Sets</button>
        <button id="btn-menu">Menu</button>
    </div>
</center>
<%- include("../../footer.ejs") -%>