<%- include("../header.ejs") -%>

<img id="banner" src="https://jaysbrickblog.com/wp-content/uploads/2015/01/LEGO-Series-13-Minifigures-Characters.png" alt="img-landing" >
<p class="general-p">Welkom bij Lego Masters!<br>Op onze website kan je de nieuwste minifigs sorteren bij de set van jouw keuze. Niet de juist keuze gemaakt? Geen probleem! Je kan de reeds gesorteerde minifigs verwijderen op het overzicht pagina en later terug sorteren bij een nieuwe set. Nog geen keuze kunnen maken? Ook geen probleem! Je kan minifigs skippen om later een keuze te maken. Wil je een bepaalde minifig voor een reden niet sorteren? Dan kan je ze blacklisten en moet je ze niet meer sorteren. Daarnaast kan je alle gesorteerde en geblackliste minfigs terug herbekijken op hun respectievelijke overzicht pagina’s. Allemaal hier op onze Lego Masters pagina.</p>
<center>
    <form>
        <button formaction="/legomasters/sorteren/">ordenen</button>
        <button formaction="/legomasters/overzicht">overzicht</button>
    </form>
</center>
<%- include("../footer.ejs") -%>