<%- include("../header.ejs") -%>

<img src="https://jaysbrickblog.com/wp-content/uploads/2015/01/LEGO-Series-13-Minifigures-Characters.png" alt="img-landing" >
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis nesciunt similique id quam magni unde suscipit neque veniam delectus nam! Aut in, assumenda impedit illo culpa ab commodi ea earum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus nesciunt, mollitia magni laudantium repellendus quibusdam, dolores rerum tenetur saepe dicta quasi totam dolor quas consectetur excepturi! A quo molestiae ratione? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis corrupti porro aperiam corporis praesentium officia autem, tenetur esse ad temporibus labore fugit necessitatibus beatae? Voluptatem quaerat inventore consequuntur! Aliquam, perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima possimus repellat ea architecto ab voluptatibus eos eveniet consequuntur officiis exercitationem expedita reiciendis magni dolore quaerat, reprehenderit debitis fugit? Delectus, doloribus.</p>
<a href="/legomasters/sort/"><button>ordenen</button></a>
<a href="/legomasters/summary"><button>overzicht</button></a>

<%- include("../footer.ejs") -%>