<%- include("../header.ejs") -%>
<div>
    <img src="" alt="imageSet" height="250px">
    <div>
        <div>
            Naam: Set
        </div>
    </div>
</div>
<table style ="width: 75%" id="setTable">
    <tr>
        <% for (let i = 0;i < 5;i++) { %>
            <th>Minifig <%= i+1 %></th>
        <% } %>
    </tr>
    <tr>
        <% for (let i = 0;i < 5;i++) { %>
            <td><a href="minifig.ejs"><img src="<% i %>"  id="imageMinifig" alt="imageMinifig" height="200px"></a></td>
        <% } %>
    </tr>
</table>
<%- include("../footer.ejs") -%>