<%- include("../header.ejs") -%>
<div>
    <img src="" alt="imageSet" height="250px">
    <div>
        <div>
            Naam: Set
        </div>
    </div>
</div>
<table style ="width: 75%" id="setTable">
    <tr>
        <th>Minifig 1</th>
        <th>Minifig 2</th>
    </tr>
    <tr>
        <td><img src="" alt="imageMinifig" height="200px"></td>
        <td><img src="" alt="imageMinifig" height="200px"></td>
    </tr>
</table>

<%- include("../footer.ejs") -%>