<%- include("../header.ejs") -%>
<div>
    <img src="" alt="imageSet" height="250px">
    <div>
        <div>
            Naam: Set
        </div>
    </div>
</div>
<div>
    <h5>Minifig 1</h5>
    <div>
        <img src="" alt="imageMinifig" height="200px">
    </div>
    <h5>Minifig 2</h5>
    <div>
        <img src="" alt="imageMinifig" height="200px">
    </div>
</div>
<%- include("../footer.ejs") -%>